<div class="tarjeta">
    <img [src]="juego.thumbnail" alt="{{ juego.title }}">
    <div class="card-body">
        <h3 class="card-title">{{ juego.title }}</h3>
        <p>{{ juego.genre }}</p>
        <p>{{ juego.platform }}</p>
        <a class="btn btn-primary" (click)="nuevaPagina(juego.freetogame_profile_url)">Play Now</a>
        <p class="card-text">{{ juego.short_description }}</p>
        <div class="card-footer text-muted">
            <span class="lanzamiento">Fecha de Lanzamiento: {{ juego.release_date|miFecha:'long' }}</span>
        </div>
    </div>
</div>
