h3 {
    font-size: large;
    text-decoration: underline;
}

.tarjeta {
    margin: 10px;
    background-color: #f5f5f5;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    min-height: 32em;
}

.tarjeta img {
    max-width: 100%;
}

.card-body {
    background-color: #3d3c3c;
    color: #f5f5f5;
    font-family: 'Courier New', Courier, monospace;
    padding: 1em;
    margin-top: 1em;
}

button {
    background-color: rgb(196, 192, 184);
    font-size: small;
    margin: 0.5em;
}

button:hover {
    background-color: rgb(236, 216, 175);
}


.lanzamiento {
    color: wheat;
}
